@import "../../styles/";

.header {
  background-color: $grey-light;
  padding: 15px;

  display: flex;
  justify-content: space-between;

  .link {
    padding: 5px;
    margin-right: 3px;

    &:last-child {
      margin-right: 0;
    }
  }
}