@import "../../styles";

.form {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08), 0 4px 8px rgba(0, 0, 0, 0.12);
  max-width: 400px;

  display: flex;
  flex-direction: column;

  padding: 20px;

  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  //height: 270px;

  .formText {
    margin-bottom: 20px;
  }

  @media screen and (max-width: 450px) {
    box-shadow: none;
  }

  input {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
  }

  button {
    border: 1px solid $white-dark;
    background-color: $white;
    border-radius: 0;
    padding: 10px 20px;
    font-weight: 400;
    margin-bottom: 10px;

    &:hover {
      background-color: darken($white, 2%);
    }
  }
}
