@import "../styles/";

.header {
  background-color: $grey-light;
  padding: 15px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media screen and (max-width: 344px) {
    .left, .right {
      display: flex;
      flex-direction: column;
    }
  }

  .link {
    padding: 5px;
    margin-right: 3px;

    &:last-child {
      margin-right: 0;
    }
  }
}