@import "../../../../styles/";

.groupBy {
  position: relative;
  
  select {
    height: 46px;
    background-color: $white;
    border: 1px solid $white-dark;
    border-radius: 0;
    width: 120px;
    padding-left: 4px;
    margin-right: 10px;
    outline: none;
    -webkit-appearance: none;
    cursor: pointer;
  }

  .arrow {
    position: absolute;
    top: 14px;
    right: 20px;
    pointer-events: none;
    width: 0.7em;
  }
}