@import "../../styles";

.imageContainer{
  display: flex;
  justify-content: center;
  margin: 20px 0;

  .image {
  max-height: 80vh;
  max-width: 100%;
  height: auto;

  display: block;
  margin: 0 auto;

  @media (max-width: 768px) {
    max-height: unset;
  }
}

}

